body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;  <!-- -->
  color: #ffffff;


  background-color: #ffffff;

}

.container li {
    list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;

}

.main-header {
    margin: 0;
    padding: 0;
}

.header-top {

    margin: 0;
    padding: 0;

    background-color: #293449;

}


input[type=search] {
    border: none;
    background-color: inherit;
    color: #ffffff;
    min-height: 42px;
}

input[type=search]:hover,
.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
  background-color: #161d29;
}


<!-- input[type=search]: {  <!-- -->
  background-color: #fff;
} -->



.header-bottom {
    margin: 0;
    padding: 0;

    background-color: #f3f7f9;
    background-image: url("img/bckgr1.png");
    background-repeat: repeat;
}

.telephone {
  position: relative;
  color: #e9292a;
  border: 3px solid #fff;
  font-size: 21px;
  line-height: 18px;
}

.address {
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 24px;
}

.header-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}


.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #32425c;
}

.site-navigation,
.user-navigation,
.user-information {

  list-style: none;
}


.site-navigation {
  font-size: 17px;
  line-height: 17px;
}

.logo {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #9a212a;

}

.logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
}

.logo:active,
.footer-logo:active {
  background-color: #ba2732;
}





.user-navigation a,
.user-block a {
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 18px;
}



.user-information a,
.address {
    font-weight: normal;
    color: #32425c;
    background-color: inherit;
}

.user-information a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-information a:hover {
  color: #ca2c37;
}

.user-information a:active {
  color: rgba(50, 66, 92, 0.3);
}

.full-basket {
    background-color: #ee3643
}


.ordering {
    background-color: #63a63e;
}

.ordering:hover {
  background-color: #5fbb2d;
}

.ordering:active {
  background-color: #518534;
}

.login a:hover,
.registration a:hover {
  color: #ee3643;
}

.login a:active,
.registration a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.category-btn:hover {
  background-color: #cccccc;
}

.category-btn:active {
  background-color: #b2b2b2;
}

.header-title {
    color: #ee3643;
}


.materials {
  background-color: #ffbf47;

}

.tools {
  background-color: #3bbce3;
}

.technics {
  background-color: #dc91d8;
}

.slide:nth-child(1) {
  background-image: url("../img/layer99.jpg");
  background-repeat: no-repeat;

}

.slide:nth-child(2) {
  background-image: url("../img/Layer 992.jpg");
  background-repeat: no-repeat;

}

.service-delivery {
  background-image: url("../img/Layer 131.png");
  background-repeat: no-repeat;
  background-position: right;
}

.sales {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.popular-goods,
.popular-firms {
  background-color: #f9f5f0;
}

.page-title {
  background-color: #f2f6f8;
}

.block-middle {


  background-color: #f4f8f9;
}

.footer-top {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}


.category h3 {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.category-btn {
  display: block;
  padding: 10px 0;
  width: 135px;
  text-align: center;
  background: rgba(0,0,0,.1);
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
}


.slide h2 {
  font-size: 36px;
  line-height: 30px;
  color: #fff;
}

.slide span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.btn {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  border: none;

}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}


.catalog-item .btn {
  font-size: 17px;
  line-height: 18px;


}

.oldprice {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}


.popular-goods h2,
.popular-firms h2,
.page-title h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}

.item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}


.service {

  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}

.service h2 {
  margin: 0;
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}


.page h2 {
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  color: #32425c;
}

.service p {
  font-family: "PT Sans", Arial, sans-serif;
}

.service-btn {
  width: 218px;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 22px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
  color: #fff;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.about-company h2,
.contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
}

.about-company p,
.contacts p {


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.transport-company {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 35px;
}
.transport-company li {
  margin-bottom: 20px;
  position: relative;
}

.transport-company li::before {
  content: '';
  position: absolute;
  left: -36px;
  top: 8px;
  display: block;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.footer-logo {
  background-color: #ee3643;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  box-shadow: 0 5px 0 0 #b52933;

}


.main-footer {
  color: #fff;
}

.footer-top-left p {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}


.footer-top-nav a {
  font-size: 18px;
  line-height: 24px;

}


.nav-first a {
  color: #f3f7f9;
}

.nav-second a {
  color: #ffd180;
}

.nav-first a:hover,
.nav-second a:hover {
  text-decoration: underline;
}

.nav-first a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.nav-second a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
}


.footer-link {
  color: #ffd180;
}


.filters-title,
.sorting {
  background-color: #f7f3ec;
}


.filters-title h2,
.sorting span,
.sorting a{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #ee3643;
}

.active a  {
  border: none;
  color: #ee3643 ;
}


.buy,
.in-bookmark {
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  display:block;
  width:129px;
  margin:0 auto;
  margin-bottom:7px;
  padding:7px 0;
  border:3px solid #63a63e;
  border-bottom-color:#367315;
  background-color:#63a63e;
}

.catalog-item .item-actions{
  display:none;
}
.catalog-item:hover .item-actions{
  display:block;
}


.in-bookmark {
  color: #32425c;
  background: #fff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.in-bookmark:hover {
  border: 3px solid #32425c;
}

.in-bookmark:active {
  border: 3px solid #c1c6ce;
  color: rgba(50 ,66 ,92 , 0.3);
}

.catalog-item:hover,
.firm:hover {
  box-shadow:0 10px 25px rgba(41,52,73, 0.5);
}

.pagination-item button {
  background: #fff;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item button:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item button:active {
  border: 1px solid #ee3643;
}

.pagination-item-current button {
  background-color: #ee3643;
  color: #fff;
}


.block-down {
  background-color: #f2f6f8;
}

.service-nav button:hover {
  background-color: #293449
}

.credit {
  background-image: url("../img/credit-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: right;
}
.social-btn {
  background-color: #212a3a;

}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.modal-add-product {
  background-color: #fff;

}

.modal-add-product h2 {
  font-weight: normal;
  line-height: 18px;
  font-size: 30px;
}

.add-product-btns {
  background-color: #f1f1f1;
}

.add-product-btns a {
  font-weight: normal;
  line-height: 14px;
  font-size: 18px;
}

.add-product-btns a:nth-child(2) {
  color: #000;

}

.white-btn {
  background-color: #fff;
}

.user-block a:active {
  color: rgba(0, 0, 0, 0.3);

}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  text-decoration: none;
  color: #ca2c37;
}

.sorting-list a:hover {
  border: none;
  color: #000;
  text-decoration: underline;
}


.instrument-info-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
}

.instrument-info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.filter-option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.filter-option.radio label{
  font-size: 14px;
}







.header-top {
  display: flex;

}

.header-top .container {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.logo {
  margin: 0;
  padding: 9px 54px;
}

.bookmarks,
.basket {
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;
  padding-right: 32px;
}

.bookmarks::before {
  content: "";

  position: absolute;
  left: 13px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #fff;
  opacity: 0.3;

}
.basket::before {
  content: "";

  position: absolute;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #fff;
  opacity: 0.3;
}

.ordering {
  padding: 12px 21px;
}



.search {
  position: relative;
  margin: 0;
  padding: 0;

}

label.search-label {
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 20;
  width: 20px;
  height: 20px;
  background: url(../img/icon-search.svg) no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

input[type=search] {
  position: relative;
  margin: 0;
  padding: 0;
  width: 270px;
}

input[type=search]::placeholder {
  position: relative;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  color: #fff;
  line-height: 18px;
  font-size: 17px;
  padding-left: 49px;

}


.telephone::before {
  content: "";

  position: absolute;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.header-bottom {
  display: flex;

}

.header-bottom .container {
  padding-top: 46px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.header-title {
  margin: 0;
  margin-left: 52px;
  margin-right: 48px;
}

.telephone {
  padding-left: 70px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
}

.user-navigation {
  display: flex;
}

.login a {
  padding-left: 48px;
  padding-right: 27px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 10px;

}

.registration a {
  padding: 12px 25px;
}

.main-navigation {

  margin-top: 46px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  width: 940px;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #293449;


}

.site-navigation li {
  display: flex;
}

.slide-title {
  margin: 0;
  margin-bottom: 10px;
}

.slides {
  position: relative;
  width: 620px;
  min-height: 266px;
}

.slide {
  position: absolute;


}

.slide .btn {
  margin-bottom: 25px;
  display: block;
  width: 195px;
}

.site-navigation a {

  padding: 19px 31px;
}

.block-top {
  display: flex;
  padding-bottom: 65px ;
}

.catalog-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  display: inline-block;

  width:218px;
  border:1px solid #ccc;
  text-align:center;

}

.catalog-item .flag {
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
}
.catalog-item .flag-new {
  background:url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .item-actions {
  position: absolute;
  top:0;
  left:0;
  width:218px;
  height:88px;
  padding:40px 0;
  background-color:rgba(255,255,255,0.9);
  z-index:10;
}



.catalog-item .item-img {
  width:218px;
  height:168px;
}
.catalog-item .item-img img{
  max-width:100%;
}

.catalog-item .item-title {
  display: block;
  min-height:40px;
  padding:0 25px;
  margin-top:10px;
  margin-bottom:15px;
}
.catalog-item .oldprice {
  display: block;
  min-height:20px;
  margin-top:15px;
  margin-bottom:10px;

}

.catalog-item .price {
  display: block;
  position:relative;
  width:80px;
  margin:10px auto;
  margin-bottom:20px;
  padding:10px 30px;
  color:white;
  background:#ee3643;
  border-radius:3px;
}

.catalog-item .price:after {
  content:"";
  position:absolute;
  top:0;
  right:-20px;
  width:0;
  height:0;
  border:19px solid white;
  border-left-color:#ee3643;
}

.page h2 {
  margin: 0;
}

.service-nav {
  display: flex;
  flex-direction: column;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.block-top .container {
  padding-top: 60px;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}


.offers {
  margin: 0;
  padding: 0;
}
.categories-list {
  margin: 0;
  padding: 0;


}
.offers-top {
  display: flex;
  justify-content: space-between;
}

.offers-bottom {
   display: flex;
   justify-content: space-between;

 }

.category h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
  min-height: 123px;

}

.firm {
  min-height: 145px;
}

.firm a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides {
  margin: 0;
  padding: 0;
}


.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 620px;
  min-height: 266px;
  padding-left: 26px;
}

.slide-wrapper {
  margin-top: 25px;
}

.popular-goods,
.popular-firms{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-goods h2,
.popular-firms h2{
  margin-left: 20px;
}

.popular-goods a,
.popular-firms a{
  margin-right: 20px;
}

.btn {
  text-align: center;
  border-radius: 3px;
  padding: 10px 0;
}

.popular-goods .btn,
.popular-firms .btn{
  width: 253px;

}

.page .btn {
  display: block;
  width: 195px;
}

.about-company .btn {
  display: block;
  width: 220px;
}

.contacts .btn {
  display: block;
  width: 300px;
}

.firms-list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.firm {
  border: 1px solid #e5e5e5;
  padding: 0;
  width: 220px;
  margin-bottom: 20px;


}

.firm a {
  margin: 0;
  width: 100%;
  height: 100%;
}

.block-middle {
  padding-top: 68px;
  display: flex;
}

.block-middle .container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-block {
  position: relative;
  margin-top: 75px;
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.service-nav {

  margin: 0;
  padding: 0;
  width: 240px;
}


.service-block::after {
  content: "";
  position: absolute;
  z-index: 70;
  top: -45px;
  left: 210px;
  width: 15px;
  height: 284px;
  background-image: url("../img/Layer 118.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.service-pages {

  margin: 0;
  padding: 0;
}

.page {
  min-height: 280px;
  margin: 0;
  padding: 0;
  width: 632px;
}

.block-bottom {
  padding-top: 82px;
  padding-bottom: 87px;
}

.block-bottom .container {
  display: flex;
  justify-content: space-between;
}

.contacts {
  width: 300px;
}

.footer-top .container {
  display: flex;


}

.footer-top-left {
  margin: 0;
  width: 350px;
}

.footer-top-nav {
  width: 590px;
}

.nav-first {
  display: flex;
  justify-content: space-between;
}

.nav-second {
  display: flex;
  justify-content: space-between;
  margin-left: 22px;
}

.footer-logo {
  text-align: center;
  padding: 19px 0;
  margin: 0;
  width: 220px;
}

.footer-bottom .container {

  display: flex;

}

.developed-by {
  margin-right: 15px;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 410px;
}

.footer-bottom-right {
  width: 305px;
  display: flex;
  justify-content: space-between;
}


.map {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}
